@mixin flexible(){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexRow(){
  @include flexible();
  flex-direction: row;
}

@mixin flexColumn(){
  @include flexible();
  flex-direction: column;
}

